.singers{
    overflow: visible;
    height: 100%;
}
.singerBlock{
    height: 100%;
}

.singer{
    max-width: 150px;
    width: 100%;
    margin:0 10px;
    text-align: center;
}

.singer h4{
    font-size: 13px;
}

.BlockBody{
    height: 200%;
}
.container{
    height: 200% !important;
}
.MusicCotegories{
    height: 200%;
}