*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #071321;
}
h3:hover{
    color: #314865;
    cursor: pointer;
}
/* extra styles start*/
.fixed{
    width: 1300px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 11;
}

.liked{
    transition-delay: 0.3s;
    color: #FC5D5D;
}

/* extra styles end */

.container{
    width: 1300px;
    margin: 0 auto;
    background-color: #dfdcdc;
    margin-top: 150px;
}

nav{
    width: 100%;
    height: 70px;
    padding: 17px 30px;
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    background-color: #456690;
}

.logo{
    width: 18%;
    height: 100%;
    cursor: pointer;
}

.logo img{
    width: 100%;
    height: 100%;
}

.searchMenu{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 3px;
}

.searchMenu input{
    width: 100%;
    padding: 0 10px;
    border: none;
    outline: none;
}
.searchMenu input::placeholder{
    color: #000;
}
.searchMenu input:focus::placeholder{
    color: gray;
}
.searchMenu .searchBtn{
    width: 40px;
    height: 100%;
    background-color: #FFB55A;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #505050;
}

.SignIn{
    width: 15%;
    height: 100%; 
    background-color: #F5F5F5;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 15px;
}

.SignIn:hover{
    border: 2px solid #ffde00;
}
.MainBlock{
    width: 100%;
    height: auto;
    font-family: 'Roboto', sans-serif;
    border: 1px solid red;
    display: grid;
    grid-template-columns: 75% 25%;
    padding: 10px 0 0 0;
}

.BlockBody, .MusicCotegories{
    background-color: #fff;
}

.BlockBody{
    margin-right: 5px;
    /* height: 100%; */
    padding: 20px;
}
.MusicCotegories{
    margin-left: 5px;
    padding: 20px;
}
.MusicCotegories h3{
    margin-top: 15px;
}
.singerBlock{
    width: 100%;
    padding: 25px;
    border-bottom: 2px solid #dfdcdc;
}

.titleBlock{
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.titleBlock a{
    text-decoration: none;
    color: #456690;
}
.singers{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
.singers a{
    text-decoration: none;
    color: #000;
}

.singer{
    height: 170px;
    max-width: 140px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-right: 5px;
}

.singer h4{
    font-size: 13px;
}

.singerImg{
    overflow: hidden;
    border-radius: 5px;
    border: 2px solid transparent;
    position: relative;
}

.singerImg img{
    width: 100%;
    height: 100%;
}

.singerMusic{
    width: 45px;
    height: 45px;
    border-radius: 100%;
    color: #ffde00;
    background-color: #456690;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 5%;
    left: 5%;
    visibility: hidden;
}

.singerImg:hover{
    border: 2px solid #ffde00;
}
.singerImg:hover .singerMusic{
    visibility: visible;
}

.MusicsList{
    padding: 25px 30px;
    border-bottom: 2px solid #dfdcdc;
}

.MusicsList > .titleBlock{
    margin-bottom: 15px;
}
.list{
    width: 100%;
}

.list li{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.list li .icon{
    width: 30px;
    height: 30px;
    font-size: 14px;
    margin-right: 15px;
}
.new{
    background-color: #86CBF6;
}
.collections{
    background-color: #FF7D8D;
}
.genres{
    background-color: #F7CD40;
}
.performers{
    background-color: #FFB55A;
}
.clips{
    background-color: #A2C57E;
}
.popular{
    background-color: #78CBC4;
}
.retro{
    background-color: #FF7E7E;
}
.AboutSummer{
    background-color: #6FAEDB;
}
.mood{
    background-color: #86CBF6;
}
.beautiful{
    background-color: #FF967B;
}
.cool{
    background-color: #A5AFD3;
}
.theBest{
    background-color: #95B8C5;
}
.MusicSelection{
    background-color: #DB9B86;
}
.children{
    background-color: #7BC993;
}

.circle{
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 100%;
}
.circle i{
    color: #db9b86;
}
.icon i{
    font-family: FontAwesome;
}

.icon{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    color: #fff;
}

.MusicGenres{
    width: 100%;
}
.GenresBlock{
    width: 100%;
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
.genre{
    height: 35px;
    background-color: #E5EBF3;
    border-radius: 1px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    font-weight: 300;
    font-size: 14px;
    cursor: pointer;
}
.genre:hover{
    background-color: #314865;
    color: #fff;
}

.newSongs{
    width: 100%;
}
.newSongs li{
    font-size: 14px;
    list-style: none;
    margin-top: 10px;
}
.newSongs li:hover{
    color: #314865;
    cursor: pointer;
}
.newSongs li:nth-of-type(1){
    margin-top: 20px;
}
.EndFooter{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    margin-top: 15px;
}
.EndFooter span{
    pointer-events: none;
    font-size: 12px;
}
.EndFooter a{
    text-decoration: none;
    color: #314865;
}

.commentsBlock{
    width: 100%;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    border: 1px solid red;
}

.commentBox{
    width: 100%;
    border: 1px solid black;
    padding: 5px;
}
.commentBox h3{
    font-size: 14px;
}
.NameInput{
    border-radius: 20px;
    padding: 10px;
    width: 220px;
    border: 2px solid #E3E3E3;
}
#name, #comment{
    outline: none;
    border: none;
}
#comment{
    clear: left;
    resize: horizontal;
    border: 2px solid #E3E3E3;
    min-height: 40px;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    overflow-y: hidden;
}
#name::placeholder, #comment::placeholder{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.send{
    width: 100%;
    display: flex;
    justify-content: end;
    margin-top: 10px;
}

.sendComment{
    padding: 10px 15px;
    border: 2px solid #3E6594;
    border-radius: 20px;
    background-color: #fff;
    margin-right: 20px;
    font-weight: 600;
    font-size: 14px;
}
.sendComment:hover{
    background-color: #FCEE7E;
}
.comment{
    width: 100%;
    word-wrap: break-word;
    padding: 10px;
    margin-top: 10px;
    border: 2px solid #E3E3E3;
}
.fromWhom{
    width: 100%;
    display: flex;
    justify-content: start;
    margin-bottom: 10px;
}
.fromWhom h4{
    font-size: 14px;
    font-weight: 700;
    color: #525252;
}
.comment p{
    font-size: 14px;
    color: #333;
}
@media (max-width: 1310px) {
    .container{
        max-width: 1200px;
        margin: 0 auto;
        margin-top: 150px;
    }
    .fixed{
        max-width: 1200px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 11;
    }
}
@media (max-width: 1200px){
    .container{
        max-width: 100%;
        margin: 0;
        margin-top: 150px;
    }
    .fixed{
        max-width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 11;
    }
    .singers{
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
    }
    .MainBlock{
        width: 100%;
        height: auto;
        font-family: 'Roboto', sans-serif;
        display: grid;
        grid-template-columns: 65% 35%;
        padding: 10px 0 0 0;
    }
}

